/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */

* {
	box-sizing: border-box;	
}

html {
	font-size: 62.5%;
}




@font-face {
	font-family: 'DroidSans';
	src: url('fonts/droidsans-webfont.woff2') format('woff2'),
       url('fonts/droidsans-webfont.woff') format('woff'),
			 url('fonts/DroidSans.ttf');
	font-weight: normal;
	font-style: normal;


}

@font-face {
	font-family: 'DroidSans_bold';
	src: 	url('fonts/droidsans-bold-webfont.woff2') format('woff2'),
        url('fonts/droidsans-bold-webfont.woff') format('woff'),
				url('fonts/DroidSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;


}

@font-face {
	font-family: 'Poppins';
	src: 	url('fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('fonts/poppins-regular-webfont.woff') format('woff'),
				url('fonts/Poppins-Regular.ttf');
	font-weight: normal;
	font-style: normal;


}

@font-face {
	font-family: 'Montserrat';
	src: 	url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('fonts/montserrat-regular-webfont.woff') format('woff'),
				url('fonts/Montserrat-Regular.otf');
	font-weight: normal;
	font-style: normal;


}

a {
	text-decoration: none;
}

body {
	width: 100%;
	max-width: 1920px;
	overflow-x: hidden;
	min-width: 320px;
}

/*----------------------------------------------------
					HEADER STYLES
------------------------------------------------------*/

header {
	min-height: 700px;
	height: 100vh;
	background-color: #46382F;
	background-image: url('../img/overlay.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.logo h1 {
	font-family: Montserrat;
	color: #fff;
	font-size: 6rem;
	margin:1% 0 0 7%;
	float: left;
	width: 230px;
}

.logo h1 strong {
	display: block;
	font-size: 2.7rem;
	color: #ffc815;
	text-shadow: 0 0 5px #ffc815;
	margin: -50px 0 0 -50px;
	letter-spacing: 3px;	
}


nav {
	position: relative;
}
	
.mainNav {
	margin: 2% auto;
  list-style: none; 
  width: 55%;
  text-align: center;
  position: absolute;
  left: 22.5%;
  border: 1px solid #999999;
  border-right: none;
  border-left: none;
  
} 

.mainNav a {
	color:#ffc815;
	font: 1.6rem DroidSans;
	text-decoration: none;
	display: inline;
	letter-spacing: 1px;
}

.mainNav li {
	display: inline-block;
	padding: 13px 2.5%;
}



.mainNav a:hover {
	border: 1px solid #ffc815;
   	border-right: none;
   	border-left: none;
   	padding:13px 0;
}

.navButton {
	float: right;
	margin: 40px 80px 0 0;
	cursor:pointer;
	background: transparent;
	border:none;
	outline: none;
	display: none;
	color: #ffc815;
}

.right_nav_button {
	color: #ffc815;
}

.overlay {
	display: none;
}

.main_intro {
	width:36,60%;
	height: 117px;
	position: absolute;
	top:298px;
	left:173px;
	border-left: 4px solid #ffc815;

}

.main_intro h1 {
	font-size: 60px;
	font-family: DroidSans_bold;
	font-weight: bold;
	padding: 0 0 0 15px;
	color: #ffffff;

}

.main_intro p {
	font-size: 27px;
	font-family: DroidSans;
	padding: 0 0 0 15px;
	color:#ffffff;
}

.main_intro h1 span {
	color: #ffc815;;
}

.social_icons {
	width: 100%;
	position: absolute;
	bottom: 32px;
	left: 0;
	font-size: 2.5rem;
	color: #ffffff; 
	text-align: center;
}

.social_icons span {
	padding: 0 20px;
	transition: .5s all;
	
}

.social_icons a {
	color: #ffffff; 
}




/*----------------------------------------------------------
					SECTION "ABOUT" 
-----------------------------------------------------------*/

.about {
	display: flex;
	flex-flow: row nowrap;
}

.about .self_description {
	width: 271px;
	margin: 0 10% 0 19.54%;
	background-color: #ffcc00;
	color: #ffffff;
	position: relative;
}



.self_description h2 {
	font-family: DroidSans;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 73px 0 28px 22px;	

}

.self_description .portrait {
	margin: 0 24px 22px 24px;
	
}

.social_icons_portrait {
	width: 60%;
	
	font-size: 1.8rem;
	margin: -70px 0 40px 60px;
	transition: 1s all;
	opacity: 0;
}

.self_description:hover > .social_icons_portrait{
	opacity: 1;
}

.social_icons_portrait span {
	padding:5px;
	transition: .5s all
	

}

.social_icons_portrait a {
	color: #ffffff; 
}


.self_description p {
	font-family: Poppins;
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: left;
	padding: 0 10px;

}

.self_description .signature{
	margin: 5px 0 10px 170px;
}


.accordion_block {
	width: 385px;
	margin: 140px 20% 0 0;
}

button.accordion {
	background-color: #fff;
	font-family: DroidSans;
	font-size: 1.1rem;
    color: #666666;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: 1px solid #E3E3E3;	
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: 0.4s;
    letter-spacing: 1px;
    outline: none;
}

.button_container {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
}

.button_container:after {
	font-family: FontAwesome;
	content:'\f078';
	 font-size: 13px;
    color: #777;
    position: absolute;
    height: 15px;
    top:0;
    right: 0;
    margin: 10px;
    border: 1px solid #E3E3E3;
    padding: 5px;
}

.button_container.active::after {
	font-family: FontAwesome;
	content: "\f077";
	 color: #777;
    
    margin: 10px;
    border: 1px solid #E3E3E3;
    padding: 5px;
    background-color: #ffcc00;
    color: #fff;
	}

.fa-desktop,
.fa-diamond,
.fa-newspaper-o{
	display: block;
	background-color:#E3E3E3;
	width: 60px;
	height: 54px;
	float: left;
	text-align: center;
	color: #666666;
	padding: 16px 2px 16px 0;
	font-size: 2rem;
}

.accordion .acc_button_text {
	display: inline-block;
	margin: 18px 0;
}


.button_container:hover > .fa-desktop,
.button_container:hover > .fa-diamond,
.button_container:hover > .fa-newspaper-o,
.button_container:hover:after
{
    background-color: #ffcc00;
    color: #fff;
}

/* for JS*/
.button_container.active > .fa-desktop,
.button_container.active > .fa-diamond,
.button_container.active > .fa-newspaper-o
 {
	background-color: #ffcc00;
    color: #fff;
}

div.panel {
	font-family: Poppins;
    padding: 0 25px;
    font-size: 1.1rem;
    line-height: 1.4;
    border-top: 1px solid #E3E3E3;
    max-height: 0;
    overflow: hidden;
    color: #A0A0A0;
    transition: max-height 0.3s ease-out;
   

}
	
							/*height: 566px;*/

.panel p {
 	padding: 25px 0 30px ;
 }

div.acc_button {
	border: 1px solid #E3E3E3;
	border-top: none;
	border-bottom: none;
	margin: 0 0 25px 0;
}


/*-------------------------------------------------------------
						SECTION "RESUME"
---------------------------------------------------------------*/

.resume {
	width: 100%;
	background-color: #F6F6F6;
	float: left;

}

/* styles for resume, portfolio, blog intro*/
.intro_header {
	float: left;
	margin: 78px 0 0 267px;
	border-left: 6px solid #FFC815;
}

.intro_header p {
	padding: 0 0 0 22px;
	font-size: 1.8rem;
	font-family: DroidSans;
	text-transform: uppercase;
}

.intro_header span {
	font-family: DroidSans_bold;
	font-size: 2.8rem;
	letter-spacing: 1px;
	color: #FBC515;
}

.intro_text{
	
	font-family: Poppins;
	font-size: 1.1rem;
	line-height: 1.5;
	width: 40%;
	margin: 78px 200px 0 600px;
	color: #A0A0A0;
	text-align: left;

}

.chronology {
	position: relative;
	font-family: Poppins;
	font-size: 1.1rem;
	line-height: 1.5;
	margin-top: 50px;
	margin-right:40px;
}

.timeline {
	float: left;
	width: 20%;
	margin-left: 16.83%;
	color:#999999;
	font-size: 1rem;
	text-align: right;

}

.timeline_info {
	float: right;
	width: 35%;
	margin-right: 21.7%;
	color:#999999;
	


}	

.timeline_info h2 {
	text-transform: uppercase;
	color:#333333;
	font-size: 1rem;
	letter-spacing: 1px;
	padding: 0 0 20px 0;
	
}

.timeline_container {
	margin-top: 39px;
	margin-bottom: 80px;
	position: relative;
}

.right_pos {
	margin-top: 10px;
	margin-bottom:35px;
}

.timeline_container h2:not(.right) {
	font-family: DroidSans_bold;
	font-weight: bold;
	font-size: 1.7rem;
	color:#333333;

}



.vl {
	
    height: 480px;
    margin: 0 40.9%;
    position: relative;
    }



#shapes_2 {
	display: none;
}



.dl_resume_container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 50px auto;
	width: 200px;
	height: 35px;
	background-color: #333333;
	border:none;
	color:#fff;
	box-shadow: 2px 2px 10px #333333;
}

.dl_resume_link {
	background-color: #333333;
	outline: none;
	border:none;
	width: 200px;
	font-size: 1.3rem;
	cursor: pointer;
	color:#fff;
	transition: .4s all;
}

.dl_resume_container .fa-file-pdf-o {
	width: 40px;
	height: 35px;
	background-color:#FFC815;
	font-size: 1rem;
	padding: 10px 16px;
	font-size: 1.3rem;
	transition: .4s all;
	

}

.dlbutton_text {
	font-family: DroidSans;
	padding: 0 9px;
	

}

.dl_resume_link:hover > .fa-file-pdf-o {
	background-color: #333333;
}

.dl_resume_link:hover {
	background-color:#FFC815;
	
}

	
/*---------------------------------------------------------------
						SECTION PORTFOLIO
-----------------------------------------------------------------*/

.portfolio {
	float: left;
}

.portfolio_buttons {
	margin: 3% auto;
	width: 40%;
	border: 1px solid #F3F3F3;
	box-shadow: 1px 5px 20px #CECECE; 
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

}



	.btn {
		border: none;
		outline: none;
		background-color: transparent;
		font-family: DroidSans_bold;
		font-size: 1.1rem;
		transition: 0.5s ease;
		cursor: pointer;
		margin: 7px 0;
	}



.btn + span {
	font-size: 1.3rem;
	margin-left: 1%;
	margin-top: 7px;

}

.btn:hover, .btn.active {
	color: #FFC815;
}

 
.row {

	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center;

}

.row .column {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.row figure:nth-of-type(1n) {
	margin-left: 10px;
	margin-bottom: 10px;
}



.portfolio-pic{
	position: relative;
	width:250px;
	height: 170px;
	overflow: hidden;
	flex:0 1 250px;
	
	

}



.big-height-img {
	
	height: 250px;
}

.big-height-img-fix {
	height: 247px;
}

.portfolio-pic img {
	width: 250px;
}
.popup-figcaption{
	display: block;
	position: absolute;
	top:10%;
	left: 10%;
	line-height: 1.4;
	background-color: rgba(255,200,21,.8);
	font-family: DroidSans_bold;
	font-size: 110%;
	color: #fff;
	width: 80%;
	height: 80%;
	padding: 5%;
	transform: scale(.5);
	transition: .4s ease;
	opacity: 0;
	
}

.popup-figcaption::after {
	font-family: FontAwesome;
	content: "\f0c1";
	font-size: 1.1rem;
	color: #FFC815;
	background-color: #fff;
	position: absolute;
	right: 4%;
	bottom: 5%;
	padding: 1% 3%;
	

}

.popup-figcaption::before {
	font-family: FontAwesome;
	content: "\f002";
	font-size: 1.1rem;
	color: #FFC815;
	background-color: #fff;
	position: absolute;
	right: 18%;
	bottom: 5%;
	padding: 1% 3%;

	/*padding: 1% 0 1% 2%; */
	
}



.portfolio-pic:hover .popup-figcaption {
	opacity: 1;
	transform: scale(1);
}


.portfolio_achievements {
	display: flex;
	margin: 5% auto;
	flex-flow: row wrap;
	justify-content: center;
}

.achievements {
	width: 180px;
	height: 130px;
	border: 1px solid #ffde73;
	float: left;
	margin: 11px;
	position: relative;
}

.ach_content {
	background-color: #FFF7DC;
	width:155px;
	height: 110px;
	margin: 5% auto;
	padding: 10% 0;

}

.ach_content h2 {
	font-family: DroidSans_bold;
	font-size: 4rem;
	text-align: center;
	color: #333333;
}

.ach_content p {
	margin-top: 10px;
	text-align: center;
	font-family: Poppins;
	font-size: 1.2rem;
}

.ach_content h2 span {
	border-bottom: 1px solid #858177;
}

.fa-trophy, .fa-puzzle-piece, 
.fa-heart, .fa-coffee {
	font-size: 3rem;
	position: absolute;
	background-color: #fff;
	bottom: -18%;
	left: 26.5%;
	color: #ffdb67;
	padding: 0 15%;

}

/*----------------------------------------------------
				SECTION BLOG
------------------------------------------------------*/

.blog {
	float: left;
	background-color: #ffc815;
	width: 100%;
}

.intro_ex {
	color: #fff;
	border-left: 6px solid #fff;
	line-height: 1.5;
}

.intro_ex p {
	font-size: 1.5rem;
	font-weight: 600;
}

.intro_ex span {
	font-size: 2.5rem;
	color: #FFF8EA;
	letter-spacing: 1px;
}



 .intro_ex + p {
	color: #FFF8EA;

}



.slick_carousel {
	
	float: left;
	margin: 100px auto;
	
	width: 100%;

}



.slick_element {
	margin: 0 20px;
	position: relative;
	outline: none;
	width: 275px;
	height: 357px;

}

.slick_element img {
	width: 100%;
}


.slick_fig {
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(59,59,59,.6);
	box-shadow: inset 0 -10px 100px #000;
	color: #fff;
	font-family: DroidSans;
	font-size:1.1rem;
	padding: 90% 10% 0 10%;
	opacity: 0;
	transition: 0.5s all;

	
}

/*.slick_fig div {

	background-image:linear-gradient(to top, rgba(59,59,59,0.9) 0%, rgba(59,59,59,0.1) 100%);
}
*/
.slick_fig::before{
	content: "WEB DESIGN TRENDS 2017";
	color: #fff;
	font-size:1.5rem;
	font-family: DroidSans_bold;
	text-decoration: none;
	position: absolute;
	top:50%;
	opacity: 0;
}

.slick_fig::after {
	font-family: FontAwesome, DroidSans_bold;
	content: "\f073  24.07.17  \f007  Starc  \f07c  Sketch";
	font-size:1.2;
	text-decoration: none;
	position: absolute;
	letter-spacing: 1px;
	word-spacing: 5px;
	color: #fac517;
	top: 57%;
	display: block;
	opacity: 0;

}



.cr_links::before {
	content: "WEB DESIGN TRENDS 2017";
	color: #fff;
	font-size:1.5rem;
	font-family: DroidSans_bold;
	text-decoration: none;
	position: absolute;
	bottom: 10%;
	left: 10%;


}


.cr_links::after {
	font-family: FontAwesome, DroidSans_bold;
	content: "\f073  24.07.17  \f007  Starc  \f07c  Sketch";
	font-size:1.2;
	text-decoration: none;
	position: absolute;
	bottom: 5%;
	left: 10%;
	letter-spacing: 1px;
	word-spacing: 5px;
	color: #fac517;

}

.slick_element:hover {
	box-shadow: inset 0 -10px 100px #000;
	
}

.slick_element:hover > .cr_links::before,
.slick_element:hover > .cr_links::after {
	opacity: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
}

.slick_element:hover > .slick_fig,
.slick_element:hover > .slick_fig::before,
.slick_element:hover > .slick_fig::after {
	opacity: 1;
}


  


/*-------------------------------------------------------------------------
								CLIENTS SECTION
---------------------------------------------------------------------------*/

.clients{

	float: left;
}

.slick_carousel_clients{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 100px auto;
	width: 665px;
	height: 360px;
	position: relative;
	z-index: 3;
	box-shadow: 0 0 10px 5px #f2f2f2;
	border: 1px solid #f2f2f2;
	


}

.slick_element_clients {
	width: 665px;
	height: 100%;
	outline: none;
	position: relative;

	
	
	
	
}

.slick_carousel_clients::before {
	content: "";
	position: absolute;
	top: -4%;
	left:3%;
	width: 95%;
	height: 3%;
	box-shadow: 0 0 10px 2px #f2f2f2;
	background-color: #fff;
	z-index: -2;
	border:1px solid #f2f2f2;
	outline:1px solid #f2f2f2;
}

.slick_carousel_clients::after {
	content: "";
	position: absolute;
	top: -6.5%;
	left:5.6%;
	width: 90%;
	height: 3%;
	box-shadow: 0 0 10px 5px #f2f2f2;
	background-color: #fff;
	z-index: -3;
	border:1px solid #f2f2f2;
	outline:1px solid #f2f2f2;
}

.slick_element_clients img {
	margin: 43px 40% 20px 43%;
	border: 8px solid #ffe285;
	border-radius: 55%;
	background-color: #ffe285;
	box-shadow: 0 0 0 8px #fff4d0;
}


/*fff4d0*/

.slick_fig_clients h1,
.slick_fig_clients h2,
.slick_fig_clients p{
	width: 90%;
	margin:0 auto;
	text-align: center;
	font-family: Poppins;
}

.slick_fig_clients h1{
	font-size: 1.5rem;
	color: #ffcb31;
}

.slick_fig_clients h2 {
	font-size: 1.2rem;
}

.slick_fig_clients p {
	color:#999999;
	font-size: 1.1rem;
	line-height: 2;
	margin: 30px auto;
}


.empty{
	float: left;
	width: 100%;
	height: 150px;
}




/*------------------------------------------------------------------
						CONTACTS SECTION
--------------------------------------------------------------------*/

.contacts{
	background-color: #f6f6f6;
	float: left;
}

.contacts form {
	width: 800px;
	margin:50px auto;
}

.input_labels{
	float: left;
	font-family: Poppins;
	font-size: 1.8rem;
	color: #333333;
	cursor: pointer;

}

.input_labels input {
	height: 50px;
	width: 250px;
	border:1px solid #ebebeb;
	margin: 20px 25px 10px 0;

}



input::placeholder, textarea::placeholder {
	font-family: Poppins;
	font-size: 1.2rem;
	padding-left: 10px;
	transition: .5s all;
	opacity: 1;
	color: #798494;	
}




textarea::placeholder {
	padding-top: 10px;
}



input:focus::placeholder, textarea:focus::placeholder{
	opacity: 0;

	
}

.input_labels input[name="company"] {
	margin-right: 0;
}

.textarea_label {
	display: block;
	clear: both;
	font-family: Poppins;
	font-size: 1.8rem;
	color: #333333;
	padding-top: 20px;
	cursor: pointer;
	
}

.textarea_label textarea {
	margin:20px 0;
	width: 100%;
	height: 145px;
	border:1px solid #ebebeb;
	resize: none;

}

.submit_button {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 30px auto;
	width: 250px;
	height: 45px;
	font-family: DroidSans;
	font-size: 1.7rem;
	color: #fff;
	background: #ffc815;
	border:none;
	outline: none;
	cursor: pointer;
}


/*-------------------------------------------------------------------------
								FOOTER
---------------------------------------------------------------------------*/


footer{
	background:#202020;
	float: left;
	width: 100%;

}

footer h1 {
	font-family: Montserrat;
	color: #fff;
	font-size: 6rem;
	margin:60px auto;
	text-align: center;
}

footer h1 strong {
	display: block;
	font-size: 2.7rem;
	color: #ffc815;
	text-shadow: 0 0 5px #ffc815;
	margin: -50px 0 0 0;
	letter-spacing: 3px;
}

.social_icons_footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	font-size: 2.5rem;
	border: 1px solid #2f2f2f;
	border-left: none;
	border-right:none;
	width: 400px;
	margin:0 auto 5%;
	padding: 20px 0 ;
}

.social_icons_footer span {
	padding: 0 13px;
	transition: .5s all;
}

.social_icons_footer a {
	color: #000;
}

.foo_contacts {
	width: 230px;
	margin:0 auto;
	text-align: center;
	font-size: 1.1rem;
	color:#fff;
	font-family: Poppins;
}

.foo_contacts h2 {
	margin:10% 0;
	font-family: DroidSans;
	font-size: 1.3rem;
}

.copyright {
	width: 100%;
	border-top: 1px solid #2b2b2b;
	margin-top: 40px;
	font-size: 1.2rem;
	font-family: Poppins; 
}

.copyright h2 {
	margin: 20px auto;
	color: #fff;
	font-weight: normal;
	text-align: center;
	
}
.copyright h2 a {
	color:#ffc815;
}

/*social icons hover for all*/

.fa-facebook:hover {
	color: #3F51B5;
}

.fa-twitter:hover {
	color: #1AB1E8;
}

.fa-behance:hover {
	color: #ffc815;
}

.fa-google-plus:hover {
	color: #D34132;
}

.fa-linkedin:hover {
	color: #1C91D4;
}

@media only screen and (max-width : 1200px) {

/*about*/
.accordion_block {
	margin: 140px 0;
}

/*resume*/
.intro_header {
	margin: 78px 0 0 100px;
}

.intro_text {
	margin: 78px 0 0 500px;
}


/*PORTFOLIO*/

.portfolio_buttons {
	width: 50%;
}

}
@media only screen and (max-width : 992px) {

	/*header*/
	.logo h1 {
	font-size: 5rem;
	margin:3% 0 0 10%;
}

.main_intro {
	width:36,60%;
	height: 117px;
	position: absolute;
	top:260px;
	left:90px;

}

.mainNav a {
	font: 1.5rem DroidSans;
	}

	.mainNav {
  width: 70%;
  left: 25%;
} 

.main_intro h1 {
	font-size: 50px;
}

.logo h1 strong {
	font-size: 2.5rem;
	margin: -45px 0 0 -50px;

}
	/*about*/
.accordion_block {
	margin: 140px 0;
}

.about .self_description {
	width: 271px;
	margin: 0 10% 0 0;

}

/*resume*/
.intro_header {
	margin: 78px 0 0 70px;
}

.intro_text {
	margin: 78px 0 0 450px;
}

.right_pos {
	margin-top: 25px;
	margin-bottom:0;
}

.timeline_info {
	margin-right: 5%;
	width: 50%;
}	

.dl_resume_container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 90px auto 40px auto;
	width: 200px;
	height: 35px;
}

/*portfolio*/
.portfolio_buttons {
	width: 70%;
}

.row figure:nth-of-type(1n+7) {
	margin-left: 10px;
	margin-bottom: 10px;

}



/*contacts*/

.contacts form {
	width: 700px;
	margin:50px auto;
}

.input_labels input {
	margin: 20px 5px 10px 7px;
	width: 220px;
}
.input_labels input[name="company"] {
	margin-right: 5px;
}

.textarea_label textarea {
	margin:20px 10px;
	width: 97%;
}

}

@media only screen and (max-width: 768px) {
	/*---header---*/
	.logo h1 {
		width: auto;
		font-size: 5rem;
		margin:3% 0 0 10%;
	}

	.logo h1 strong {
		font-size: 2rem;
		margin: -43px 0 0 -35px;
	}

.mainNav {
	width: 60%;
	margin: 1% auto;
	text-align: center;
  position: absolute;
  left: 20%;
  border:none;
  display: none;
}

	.mainNav a {
		font-size: 1.2rem;
	}

	.navButton {
		margin: 40px 60px 0 0;
		display: block;
	}

	/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #000; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    display: block;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top:10%;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin: 30px auto 0 auto;
    
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #ffc815;
    border: 2px solid #999999;
  	border-right: none;
  	border-left: none;
  	margin: 0 0 10px 0;
		font: 2rem DroidSans;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #ffc815;
    border: 2px solid #ffc815;
    border-right: none;
  	border-left: none;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 4rem;
    border: none;
}

.overlay .closebtn:hover {
	border:none;
	cursor: pointer;
}

	.main_intro {
	width:36,60%;
	height: 100px;
	position: absolute;
	top:200px;
	left:60px;
	border-left: 3px solid #ffc815;

}

.main_intro h1 {
	font-size: 50px;
	

}

.main_intro p {
	font-size: 20px;
}



/*---About---*/

.about .self_description {
	margin:0;
}

.accordion_block {
	margin: 16% 0 0 7%	;
}

/*resume*/

.intro_header {
	float: left;
	margin: 78px 0 0 10px;
	border-left: 5px solid #FFC815;
}



.intro_text{
	
	font-family: Poppins;
	font-size: 1.1rem;
	line-height: 1.5;
	width: 45%;
	margin: 78px 0 0 300px;
	color: #A0A0A0;
	text-align: left;

}

.timeline_container {
	margin-top: 39px;
	margin-bottom: 120px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:35px;
}

.timeline_info {
	float: right;
	width: 35%;
	margin-right: 20.2%;
	color:#999999;

}	


.vl{
	display: none;
}

.vl_2 {
	
	border-left: 2px solid #E8E8E8;
    height: 700px;
    margin: 0 41%;
    position: relative;
}

.right_pos::after{
	content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    left: -12.2%;
    background-color: #FFC815;
    top: 30%;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 3px #F9E8B3;
}

.vl_2::after{
 	font-family: FontAwesome;
	content: "\f077";
	 color: #FFF;
	 background-color: #333333;
	 border-radius: 20%;
	 padding: 2px 3px;
	 font-size: 5px;
	 position: absolute;
	 left: -7px;
 }

 .vl_2::before{
 	font-family: FontAwesome;
	content: "\f078";
	 color: #FFF;
	 background-color: #333333;
	 border-radius: 20%;
	 padding: 2px 3px;
	 font-size: 5px;
	 position: absolute;
	 bottom:0;
	 left: -7px;
	
 }


.dl_resume_container {
	margin: 10% auto 10% auto;
	height: 35px;
}



/*porfolio*/

.portfolio_buttons {
	margin: 5% auto;
	width: 100%;
}

.btn {
	font-size: 1rem;
}

.row {

	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;

}

.row .column {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
}

.row figure:nth-of-type(1n) {
	margin-left: 10px;
	margin-bottom: 10px;
}



.achievements {
	
	margin: 20px;
	
}

.portfolio_buttons {
	margin: 3% auto;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}

/*blog*/

.intro_ex {
	color: #fff;
	border-left: 6px solid #fff;
	line-height: 1.5;
}

/*clients*/

.intro_ex_2 span {
	font-size: 2.5rem;
}

.slick_carousel_clients{
	width: 90%;

}
/*contacts*/

.contacts form {
	display: flex;
	flex-flow: column wrap;
	margin:50px auto;
	align-items: center;
	width: 90%;
}

.input_labels input {
	width: 350px;
}


.textarea_label textarea {
	border:1px solid #ebebeb;
	resize: none;
	margin: 20px 0;
	width: 350px;
}

.submit_button {
	margin: 30px 33%;
	}

/*footer*/

.social_icons_footer {
	text-align: center;
	padding: 20px 0;
}
}

@media only screen and (max-width: 629px) {

/*about*/

.about .self_description {
	margin:0 10% 0 0;
}

.accordion .acc_button_text {
	margin: 10px 0;
	font-size: 10px;
}

.accordion_block {
	margin: 140px 0 0 0;
	width: 400px;
}

.button_container:after {
	font-family: FontAwesome;
	content:'\f078';
	 font-size: 9px;
    color: #777;
    position: absolute;
    top:0;
    right: 0;
    margin: 13px 5px 13px 0;
    border: 1px solid #E3E3E3;
    padding: 3px 3px 0 3px;
}

.button_container.active::after {
	font-family: FontAwesome;
	content: "\f077";
	 color: #777;
    font-size: 9px;
    margin: 10px 5px 10px 0;
    border: 1px solid #E3E3E3;
    padding: 1px;
    background-color: #ffcc00;
    color: #fff;
	}

	/*resume*/

.intro_text{
	
	width: 40%;
	margin: 78px 0 0 270px;
	

}	
.timeline_container {
	margin-top: 39px;
	margin-bottom: 135px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:35px;
}


.vl{
	display: none;
}

.vl_2 {
	
	border-left: 2px solid #E8E8E8;
    height: 750px;
    margin: 0 41%;
    position: relative;
}

.right_pos::after{
	content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    left: -13%;
    background-color: #FFC815;
    top: 20%;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 3px #F9E8B3;
}

.vl_2::after{
 	font-family: FontAwesome;
	content: "\f077";
	 color: #FFF;
	 background-color: #333333;
	 border-radius: 20%;
	 padding: 2px 3px;
	 font-size: 5px;
	 position: absolute;
	 left: -7px;
 }

 .vl_2::before{
 	font-family: FontAwesome;
	content: "\f078";
	 color: #FFF;
	 background-color: #333333;
	 border-radius: 20%;
	 bottom:0;
	 left: -7px;
	 padding: 2px 3px;
	 font-size: 5px;
	 position: absolute;
	 left: -7px;
 }

 /*clients*/

 .intro_text_clients_contacts {
 	width: 40%;
	margin: 78px 0 0 290px;
 }


}

@media only screen and (max-width: 570px) {

	/*about*/

.about .self_description {
	margin:0 2% 0 0;
}

/*resume*/

	.timeline_container {
	margin-top: 55px;
	margin-bottom: 150px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

.right_pos::after{
	content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    left: -13.7%;
    background-color: #FFC815;
    top: 20%;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 3px #F9E8B3;
}

.timeline_info {
	width: 40%;
	margin-right: 14.2%;
}	

.vl_2 {
    height: 850px;
}

/*clients*/

 .intro_text_clients_contacts {
 	width: 35%;
	margin: 78px 0 0 300px;
 }


	}

@media only screen and (max-width: 480px) {
/*---header---*/



.logo h1 {
		width: auto;
		font-size: 4rem;
		margin:6% 0 0 17%;
	}

	.logo h1 strong {
		font-size: 1.9rem;
		margin: -35px 0 0 -35px;
	}

	.mainNav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
  position: absolute;
  left: 35%;
  border:none;
}

.mainNav a {
		font-size: 1.2rem;
	}

	.navButton {
		margin: 30px 20px 0 0;
	}

	.main_intro {
	width:36,60%;
	height: 80px;
	position: absolute;
	top:170px;
	left:20px;
	border-left: 3px solid #ffc815;

}

.main_intro h1 {
	font-size: 35px;
	

}

.main_intro p {
	font-size: 20px;
}

.social_icons {
	width: 100%;
	position: absolute;
	bottom: 32px;
	left: 0;
	font-size: 2rem;
	color: #ffffff; 
	text-align: center;
}

/*about*/


.about {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.accordion_block {
	width: 385px;
	margin: 50px 5px 0 5px;
}

.about .self_description {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	margin: 0;

	}

	.self_description h2  {
		padding: 73px 0 28px 0;	
	}

	.button_container:after {
	font-family: FontAwesome;
	content:'\f078';
	 font-size: 13px;
    color: #777;
    position: absolute;
    height: 15px;
    top:0;
    right: 0;
    margin: 10px;
    border: 1px solid #E3E3E3;
    padding: 5px;
}

.button_container.active::after {
	font-family: FontAwesome;
	content: "\f077";
	 color: #777;
	 font-size: 13px;
    margin: 10px;
    border: 1px solid #E3E3E3;
    padding: 5px;
    background-color: #ffcc00;
    color: #fff;
	}

	.social_icons_portrait {
	width: 60%;
	font-size: 1.8rem;
	margin: -70px 0 40px 23%;
}



/*resume*/

.intro_header {
	
	margin: 78px 0 0 10px;
	border-left: 5px solid #FFC815;
}



.intro_text{
	width: 90%;
	margin: 180px 0 0 10px;
}


.timeline_container {
	margin-top: 55px;
	margin-bottom: 185px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

.vl_2 {
	
	border-left: 2px solid #E8E8E8;
    height: 990px;
    margin: 0 41%;
    position: relative;
}

.timeline_info {
	float: right;
	width: 35%;
	margin-right: 20.2%;
	color:#999999;

}	

/*portfolio*/

.btn {
	display: inline-block;
	font-size: 1rem;

}



.btn + span {
	font-size: 1rem;
	margin-left: 0;
	margin-top:7px;
	display: none;

}


/*blog*/

.intro_ex {
	color: #fff;
	border-left: 6px solid #fff;
	line-height: 1.5;
}
/*clients*/

.slick_carousel_clients{
	width: 80%;
	height: 80%;
	}
	.slick_element_clients img {
		margin: 43px 40% 20px 30%;
	}

	.slick_fig_clients h1,
.slick_fig_clients h2,
.slick_fig_clients p{
	width: 80%;
}

/*contacts*/

.input_labels input {
	width: 300px;
}


.textarea_label textarea {
	border:1px solid #ebebeb;
	resize: none;
	margin: 20px 0;
	width: 300px;
}

/*footer*/
.social_icons_footer {
	text-align: center;
	padding: 20px 0;
}

.social_icons_footer {
	
	width: 100%;
	
}
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 440px) {
	/*resume*/
	.vl_2 {
    height: 970px;
    margin: 0 41%;
}

.timeline_info {
	width: 40%;
	margin-right: 14.5%;
}	

.timeline_container {
	margin-top: 55px;
	margin-bottom: 168px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

.social_icons_portrait {
	width: 60%;
	font-size: 1.8rem;
	margin: -70px 0 40px 22%;
}

.btn {
	display: inline-block;
	font-size: 1rem;

}

}

@media only screen and (max-width: 420px) {
	/*resume*/
.timeline_info {
	width: 40%;
	margin-right: 14.5%;
}	

.btn {
	display: inline-block;
	font-size: 1.4rem;

}

.timeline_container {
	margin-top: 55px;
	margin-bottom: 180px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

.social_icons_portrait {
	width: 60%;
	font-size: 1.8rem;
	margin: -70px 0 40px 20%;
}
	}

@media only screen and (max-width: 400px) {

.timeline_info {
	width: 40%;
	margin-right: 14.5%;
}	

.timeline_container {
	margin-top: 55px;
	margin-bottom: 190px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

	.vl_2 {
    height: 970px;
    margin: 0 41%;
}

.dl_resume_container {
	margin: 80px auto 40px auto;
}

@media only screen and (max-width: 385px) {

.timeline_info {
	width: 40%;
	margin-right: 14.5%;
}	

.timeline_container {
	margin-top: 55px;
	margin-bottom: 205px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

	.vl_2 {
    height: 1030px;
    margin: 0 41%;
}

.social_icons_portrait {
	width: 60%;
	font-size: 1.8rem;
	margin: -70px 0 40px 15%;
}
}

@media only screen and (max-width: 360px) {
	.timeline_info {
	width: 40%;
	margin-right: 14.5%;
}	

.timeline_container {
	margin-top: 55px;
	margin-bottom: 205px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}

	.vl_2 {
    height: 1030px;
    margin: 0 41%;
}

.social_icons_portrait {
	width: 60%;
	font-size: 1.8rem;
	margin: -70px 0 40px 12%;
}
}
@media only screen and (max-width: 340px) {
	/*resume*/
.vl_2 {
	
    height: 1100px;
    
}

	.timeline_info {
	width: 40%;
	margin-right: 14.5%;
}	

.timeline_container {
	margin-top: 55px;
	margin-bottom: 205px;
	position: relative;
}

.right_pos {
	margin-top: 30px;
	margin-bottom:55px;
}


	}
